<a href="https://colab.research.google.com/github/ChuquEmeka/Data-Manipulation-with-dplyr-R-Language-/blob/main/Data_Manipulation_with_dplyr_(R_Language).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Manipulation with dplyr(R Language):   
 
  
#### Name: Edeh Emeka N.

##### The underlisted five major functions are performed using the dplyr package which is a grammar of data manipulation 

mutate() adds new variables that are functions of existing variables  
select() picks variables based on their names.  
filter() picks cases based on their values.  
summarise() reduces multiple values down to a single summary.  
arrange() changes the ordering of the rows.  

The above functions are a bit similar to queries in sql.

#### About the dataset  
The dataset being used for this post is a snippet of a larger dataset of real estate values in Lagos, Nigeria. These are real-life values of properties valued by me, Edeh Emeka. The actual property address and client names have been removed for privacy purpose.

In [ ]:
# i will start by loading tidyverse package which contains tidyr and dplyr packages. I already installed it.

library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [ ]:
# importing the dataset which is saved in my working directory
df <- read_csv("Real_Estate_Values_In_Lagos_Cleaning.csv")

Parsed with column specification:
cols(
  Year_Of_Valuation = col_double(),
  Property_Type = col_character(),
  State = col_character(),
  Location = col_character(),
  Location_Rating = col_double(),
  Land_Size_sqm = col_number(),
  Open_Market_Value = col_number(),
  Forced_Sale_Value = col_number(),
  Insurance_Value = col_number()
)

In [ ]:
# using glimpse function to look at the variable names and types.
glimpse(df)

Observations: 27
Variables: 9
$ Year_Of_Valuation <dbl> 2012, 2013, 2013, 2013, 2013, 2013, NA, 2013, 201...
$ Property_Type     <chr> "Land", "Office Complex", "Apartment Block", "Det...
$ State             <chr> "Lagos", "Lagos", "Lagos", "Lagos", "Lagos", "Lag...
$ Location          <chr> "Ikeja_1", "Victoria Island", "Ikoyi", "Okota", "...
$ Location_Rating   <dbl> 8.0, 9.0, 10.0, 3.0, NA, 5.0, 3.0, 8.5, 5.0, 3.0,...
$ Land_Size_sqm     <dbl> 615.040, 4327.710, 5500.000, 1500.000, 183.280, N...
$ Open_Market_Value <dbl> 1.00e+08, 2.97e+09, 4.00e+09, 7.00e+07, 1.00e+07,...
$ Forced_Sale_Value <dbl> 4.600e+07, 2.079e+09, 2.800e+09, 4.900e+07, 7.000...
$ Insurance_Value   <dbl> 1.5e+06, 1.6e+09, 2.1e+09, 5.0e+07, 5.0e+06, 7.0e...

##### From the above glimpse, we have 9 columns(Variables) and 27 rows(Obaservations)

### 1.  Adding needed new variables(columns) that are functions of existing variables using mutate()

For this project, i will be adding columns for land value, land value per squre meter and land values in dollars.

In [ ]:
df_with_more_cols <- df  %>% 
    mutate(land_value = Open_Market_Value - Forced_Sale_Value, Land_Value_PerSQM = land_value / Land_Size_sqm,
          land_values_in_dollars = land_value/159.267)

%>%  is know as the pipe operator which is a useful operator that comes from the magrittr package(one of the tidyverse packages). It allows us to organize our code by eliminating nested parentheses so that we can make our code more readable.

In [ ]:
head(df_with_more_cols)

  Year_Of_Valuation Property_Type   State Location        Location_Rating
1 2012              Land            Lagos Ikeja_1          8
2 2013              Office Complex  Lagos Victoria Island  9
3 2013              Apartment Block Lagos Ikoyi           10
4 2013              Detached House  Lagos Okota            3
5 2013              Tenement House  Lagos Amukoko         NA
6 2013              Flat            Lagos Surulere         5
  Land_Size_sqm Open_Market_Value Forced_Sale_Value Insurance_Value land_value
1  615.04       1.00e+08          4.600e+07         1.5e+06         5.40e+07
2 4327.71       2.97e+09          2.079e+09         1.6e+09         8.91e+08
3 5500.00       4.00e+09          2.800e+09         2.1e+09         1.20e+09
4 1500.00       7.00e+07          4.900e+07         5.0e+07         2.10e+07
5  183.28       1.00e+07          7.000e+06         5.0e+06         3.00e+06
6      NA       1.40e+07          1.000e+07         7.0e+06         4.00e+06
  Land_Value_PerSQM land_values_in_dollars
1  87799.17          339053.29
2 205882.56         5594379.25
3 218181.82         7534517.51
4  14000.00          131854.06
5  16368.40           18836.29
6        NA           25115.06

In [ ]:
glimpse(df_with_more_cols)

Observations: 27
Variables: 12
$ Year_Of_Valuation      <dbl> 2012, 2013, 2013, 2013, 2013, 2013, NA, 2013...
$ Property_Type          <chr> "Land", "Office Complex", "Apartment Block",...
$ State                  <chr> "Lagos", "Lagos", "Lagos", "Lagos", "Lagos",...
$ Location               <chr> "Ikeja_1", "Victoria Island", "Ikoyi", "Okot...
$ Location_Rating        <dbl> 8.0, 9.0, 10.0, 3.0, NA, 5.0, 3.0, 8.5, 5.0,...
$ Land_Size_sqm          <dbl> 615.040, 4327.710, 5500.000, 1500.000, 183.2...
$ Open_Market_Value      <dbl> 1.00e+08, 2.97e+09, 4.00e+09, 7.00e+07, 1.00...
$ Forced_Sale_Value      <dbl> 4.600e+07, 2.079e+09, 2.800e+09, 4.900e+07, ...
$ Insurance_Value        <dbl> 1.5e+06, 1.6e+09, 2.1e+09, 5.0e+07, 5.0e+06,...
$ land_value             <dbl> 5.40e+07, 8.91e+08, 1.20e+09, 2.10e+07, 3.00...
$ Land_Value_PerSQM      <dbl> 87799.168, 205882.557, 218181.818, 14000.000...
$ land_values_in_dollars <dbl> 339053.29, 5594379.25, 7534517.51, 131854.06...

##### We now have 27 observations(rows) and 12 variables(columns)

### 2. using SELECT and FILTER functions to pick variables based on their names and certain conditions/values.

In [ ]:
df_lagos <- df_with_more_cols %>%
  filter(State=="Lagos") %>%
  select(Year_Of_Valuation, State, Property_Type, Open_Market_Value, land_value  )

In [ ]:
head(df_lagos)

  Year_Of_Valuation State Property_Type   Open_Market_Value land_value
1 2012              Lagos Land            1.00e+08          5.40e+07
2 2013              Lagos Office Complex  2.97e+09          8.91e+08
3 2013              Lagos Apartment Block 4.00e+09          1.20e+09
4 2013              Lagos Detached House  7.00e+07          2.10e+07
5 2013              Lagos Tenement House  1.00e+07          3.00e+06
6 2013              Lagos Flat            1.40e+07          4.00e+06

### 3. using SUMMARIZE function to reduce multiple values down to a single summary.

In [ ]:
df_summarise <- df_with_more_cols %>% 
  group_by(State) %>% 
  summarize(avg_land_value = mean(land_value))

In [ ]:
df_summarise

  State avg_land_value
1 Abia   10000000
2 Lagos 114740000
3 Osun   99000000

### 4. Using ARRANGE function to change the ordering of the rows.
By default, the arrange function is usually done in ascending order.

In [ ]:
df_arrange <- df_with_more_cols %>% 
  arrange(desc (Open_Market_Value))

In [ ]:
head(df_arrange, 10)
# this will help us determine the top ten most expensive properties in the list.

   Year_Of_Valuation Property_Type   State Location        Location_Rating
1  2013              Apartment Block Lagos Ikoyi           10.0
2  2013              Office Complex  Lagos Victoria Island  9.0
3  2013              Land            Lagos Agege            3.0
4    NA              Hostel          Osun  OAU, Ile-Ife     3.0
5  2013              Apartment Block Lagos Lekki Phase 1    8.5
6  2013              Apartment Block Lagos Ajah             5.0
7  2013              Hotel           Lagos Ikeja_1           NA
8  2013              Detached House  Lagos Ajao Estate      4.0
9  2012              Land            Lagos Ikeja_1          8.0
10 2013              Detached House  Lagos Surulere         5.0
   Land_Size_sqm Open_Market_Value Forced_Sale_Value Insurance_Value land_value
1   5500.000     4.00e+09          2.800e+09         2.1e+09         1.20e+09
2   4327.710     2.97e+09          2.079e+09         1.6e+09         8.91e+08
3  99540.000     6.40e+08          4.480e+08         0.0e+00         1.92e+08
4   3787.665     3.30e+08          2.310e+08         1.8e+08         9.90e+07
5   1351.610     3.00e+08          2.100e+08         1.0e+08         9.00e+07
6   1334.000     2.30e+08          1.610e+08         1.5e+08         6.90e+07
7    481.000     2.00e+08          1.400e+08         1.0e+08         6.00e+07
8    657.579     1.10e+08          7.700e+07         6.0e+07         3.30e+07
9    615.040     1.00e+08          4.600e+07         1.5e+06         5.40e+07
10   683.000     8.00e+07          5.600e+07         4.5e+07         2.40e+07
   Land_Value_PerSQM land_values_in_dollars
1  218181.818        7534517.5
2  205882.557        5594379.2
3    1928.873        1205522.8
4   26137.475         621597.7
5   66587.255         565088.8
6   51724.138         433234.8
7  124740.125         376725.9
8   50184.084         207199.2
9   87799.168         339053.3
10  35139.092         150690.4